body {
    background-color: #C9533E;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.window {
    top: 100px;
    right: 550px;
    position: absolute;
    background-color: #29467A;
    border: 10px solid black;
    width: 240px;
    height: 340px;
}

.middle-bar {
    top: 280px;
    right: 550px;
    position: absolute;
    background-color: black;
    width: 260px;
    height: 10px;
}

.bars, .bars::before {
    top: 0;
    right: 0;
    position: absolute;
    background-color: #385894;
    width: 10px;
    height: 340px;
}

.bars::before {
    content: "";
    top: 0;
    right: 230px;
}

.star1 {
    position: relative;
    top: 40px;
    left: 200px;
    background-color: rgb(214, 203, 52);
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.star2 {
    position: relative;
    top: 45px;
    left: 110px;
    background-color: rgb(214, 203, 52);
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.star3 {
    position: relative;
    top: 130px;
    left: 190px;
    background-color: rgb(214, 203, 52);
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.star4 {
    position: relative;
    top: 130px;
    left: 30px;
    background-color: rgb(214, 203, 52);
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.star5 {
    position: relative;
    top: 180px;
    left: 60px;
    background-color: rgb(214, 203, 52);
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.star6 {
    position: relative;
    top: 180px;
    left: 190px;
    background-color: rgb(214, 203, 52);
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.star7 {
    position: relative;
    top: 150px;
    left: 140px;
    background-color: rgb(214, 203, 52);
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.moon-container{
    position: relative;
    top: 2em; 
    left: 2em;
}
.moon{
    width: 80px;
    height: 80px;
    background: transparent;
    border-radius: 50px;
    box-shadow:-20px 8px 0 0px #e8ae4a;
    position: absolute;
    left: 3em; 
    top: 2em;
}